/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow:hidden;
  background-color: #f8f8f8;
}
.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #f0f0f0;*/
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#main_navbar {
    margin:0;
    border:0;
}

.menu_btn {
  padding: 8px;
}

.footer_btn {
  padding: 12px;
}

#main_container {
  /*position:fixed;
  top:52px;
  left:0;*/
  padding:0;
  margin:0;
  /*border: 1px blue solid;*/
  width:100%;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


div.log_item {
  padding:5px;
  margin: 5px;
}
div.log_notice {
  border: 2px solid #aaaaaa;
}
div.log_success {
  border: 2px solid green;
}
div.log_warning {
  border: 2px solid orange;
}
div.log_error {
  border: 2px solid red;
}
