
/*********************************************************************
** General Tags
**************/

html {
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
    border:none;
    font-size:100%;  /*IE bugfix*/
}

body {
    margin:0px;
    padding:0px;
    /*width:100%;*/
    /*height:100%;*/
    color: #4f4b51;
    background-color: #ffffff;
    font-family: Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif;
    font-size: 0.8em;  /*by default 1em is 16px*/
    font-weight: 300;
}

table {empty-cells:show; margin:0px; padding:0px; width:100%; height:100%;}

p { margin:0 0 1em 0; padding-bottom:.3em; }
br { margin: 0 0 1em 0; line-height:2em;}
img { border:0px; }
i {color:#000000;}
tt { font-size: 1.3em; color:#888888;}
pre { font-size: 1.3em;}



/** LINKS **********************/

a {text-decoration:none;}
a:link { color:#1489b5; font-weight:300;}
a:visited { color:#1489b5; font-weight:300;}
a:hover { color:#1489b5; text-decoration:underline;}
a:active { color:#f80168;}


/** LISTS **********************/

ol {list-style-type: decimal}
ol ol {list-style-type: decimal}
ol ol ol {list-style-type: decimal}
ol ol ol ol {list-style-type: decimal}



/** HEADERS **********************/

h1 {
  font-size: 2.8em;
  font-weight: 300;
  color:#333333;
  padding:0px;
  margin:0px;
  margin-bottom:30px;
}

h2 {
  font-size: 2.2em;
  font-weight: 300;
  color:#333333;
  padding:0px;
  margin:0px;
  margin-top:30px;
  margin-bottom:15px;  
}

h3 {
  font-size: 1.4em;
  font-weight: 300;
  color:#333333;
  padding:0px;
  margin:0px;
  margin-top:20px;
  margin-bottom:10px;     
}


h4 {
  font-size: 0.9em;
  font-weight: normal;
  color:#444444;
  margin-top:20px;
  margin-bottom:5px;
}

h5 {
  font-size: 0.9em;
  color:#444444;
  font-style: italic;
  font-weight: normal;
  margin-top:15px;
  margin-bottom:5px;
}



/*********************************************************************
** Specific Tags
***************/

.darkred {color:#46130D}
.dirtypink {color:#D23954}
.pink {color:#FF0062}
.warmgray {color:#403B38}
.darkyellow {color:#BFA119}

a.wikilink_new { color:#ff0000; background-color:#ffffff; }
a.wikilink_new:link { color:#ff0000; background-color:#ffffff; }
a.wikilink_new:hover {text-decoration:underline; }


/*** Nav bar styles ***/

a.menu {text-decoration:none;}
a.menu:link { color:#1489b5; font-weight:300;}
a.menu:visited { color:#1489b5; font-weight:300;}
a.menu:hover { color:#ffffff; background-color:#1489b5; /*background-color:#8b9e91;*/ }
a.menu:active { color:#1489b5;}

a.menuhighlight {text-decoration:none; color:#4f4b51; font-weight:bold;}
a.menuhighlight:link { color:#4f4b51; font-weight:normal;}
a.menuhighlight:visited { color:#4f4b51; font-weight:normal;}
a.menuhighlight:hover { color:#ffffff; background-color:#1489b5; font-weight:normal;}
a.menuhighlight:active { color:#4f4b51; font-weight:normal;}


/* for sticky footer
*  using a push div
*  see http://ryanfait.com/sticky-footer/ */
div.container { 
	min-height:100%;
	height:auto !important;
	height:100%; /* IE6: treaded as min-height*/
	padding-left:60px;
	margin: 0 auto -200px; /* same magnitude as footer and push height */
}
div.footer, div.push {
  height:200px;
}
div.footer table tr td div {
  font-size: 9px;
}


div.content {
    font-size: 0.8em;
    line-height:1.4em;
    max-width:640px; 
}
@media only screen and (min-device-width: 480px) {  /*iPhone specific*/
  margin:5px;
  margin-top:100px;
}

div.footer {
  width:100%; 
  background-image:url('/images/gradient-200-80-reverse.png'); background-repeat:repeat-x;
  font-size:0.7em;
}
div.footer table {
  height:160px; width:750px; padding-left:60px;
}
div.footer table tr td {
  vertical-align:bottom;
}
div.footer table tr td div {
  font-family: Monaco, Courier New, monospace;
  font-size:9px;
}


table.nav {
  height:180px;
}
table.nav tr td {
  width:180px;
  vertical-align:top;
  font-size: 0.8em;
}
table.nav tr td ul {
	margin: 0; padding: 0;
	list-style-type: none;
}
table.nav tr td ul li {
	padding-bottom: 2px;
}




div.block {
    font-size:1.2em;
    text-align:center;
    margin-top:15px;
    margin-bottom:15px;
    padding:20px;
    padding-bottom:25px;
    background-image:url('/images/gradient-200-80.png');
    background-repeat:repeat-x;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    /*border:1px dashed #333;*/
}

div.blockred {
    font-size:1.2em;
    text-align:center;
    margin-top:15px;
    margin-bottom:15px;
    padding:20px;
    padding-bottom:25px;
    color:#dddddd;
    background-image:url('/images/gradient-red-200-80.png');
    background-repeat:repeat-x;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    /*border:1px dashed #333;*/
}

pre.prettyprint {
    font-size:1.2em;
    margin-top:15px;
    margin-bottom:15px;
    padding:20px;
    padding-bottom:25px;
    background-image:url('/images/gradient-200-238.png');
    background-repeat:repeat-x;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}


.ui-accordion-header {
  font-size:1.0em;
}

/*
.ui-button {
  margin:10px; 
  float:left; 
}
*/

.ui-button-text {
  font-size:1.0em;
}


div.log_item {
  padding:5px;
  margin: 5px;
}
div.log_notice {
  border: 1px solid #aaaaaa;
}
div.log_success {
  border: 1px solid green;
}
div.log_warning {
  border: 1px solid orange;  
}
div.log_error {
  border: 1px solid red;
}
